:root{
    --color-primary: #0073ff;
    --color-white: #ffffff;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
}
.menu_bar{
  position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}
.logo{
    color: var(--color-white);
    font-size: 30px

}
.logo span{
    color: var(--color-black);

}
.p{
    font-size: 16px;
    color:var(--color-white);
}

 .menu_bar ul{
    list-style: none;
   display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
    
}
.menu_bar ul li a{
color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transform: all 0.3s ;
}
.menu_bar ul li a:hover{
    color: var(--color-primary);
        
    }
    .dropdown_menu{
        display: none;
      
    }
    .dropdown_menu ul li a{
        color: black;
    }
    .menu_bar ul li:hover .dropdown_menu{
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--color-white);
        

    }
    .menu_bar ul li:hover .dropdown_menu ul{
        display: block;
        margin: 10px;
    }
    .menu_bar ul li:hover .dropdown_menu ul li{
        width: 150px;
        padding: 10px;
    }
    .logodec{
        text-decoration: none;
    }
  #search{
    padding: 8px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: none;
  }
  .news a{
    text-decoration: none;
    color: black;
  }
  .social>span a{
    display: block;
  text-decoration: none;
  color: black;
  margin: 10px 4px;
  }
  .social{
    width: 30%;
    margin: auto;
  display: flex;
 justify-content: space-evenly;
flex-wrap: wrap;
    
  }
  #footer{
    width: 80%;
    margin: auto;
  }
  .social p{
    font-family: 'Courier New', Courier, monospace;
  }
  .name{
    margin: 80px 0px;
    font-size: 12px;
   color: rgb(26, 25, 25);
   width: 40%;
   font-family: 'Edu NSW ACT Foundation', cursive;

  }
  .links{

    background-color: rgb(213, 213, 213);
    border-radius: 20px;
  }
  #mid>img{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .logout1{
    display: none;
}
.logout{
    display: block;
}