:root{
    --color-primary: #0073ff;
    --color-white: #ffffff;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
padding-top: 110px;
background-color: #f4f4f5;
}

#filtered{
    position: fixed;
    display: block;
    padding: 10px;
    border-radius: 20px;
    left: 5%;
     margin-top: 10px;
     color: red;
    
}
 #sort{
    position: fixed;
    right: 5%;
    margin-top: 10px;
    display: block;
    padding: 10px;
    border-radius: 20px;
    color: red;
  
 }

.menu_bar{
  position: fixed;
  top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #141d28;
   
  
}
.logo{
    color: var(--color-white);
    font-size: 30px

}
.logo span{
    color: var(--color-primary);

}
.p{
    font-size: 16px;
    color:var(--color-white);
}

 .menu_bar ul{
    list-style: none;
   display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
    
}
.menu_bar ul li a{
color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transform: all 0.3s ;
}
.menu_bar ul li a:hover{
    color: var(--color-primary);
        
    }
    .dropdown_menu{
        display: none;
      
    }
    .dropdown_menu ul li a{
        color: black;
    }
    .menu_bar ul li:hover .dropdown_menu{
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--color-white);
        

    }
    .menu_bar ul li:hover .dropdown_menu ul{
        display: block;
        margin: 10px;
    }
    .menu_bar ul li:hover .dropdown_menu ul li{
        width: 150px;
        padding: 10px;
    }
    .logodec{
        text-decoration: none;
    }
  #search{
    padding: 8px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: none;
  }

  #main{
   
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     gap: 20px;
    
}
img{
    width: 100%;
}
#main>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
   
}
#main>div p,#main>div h2,#main>div h4,#main>div img{
    /* padding: 30px; */
    text-align: center;
    padding-bottom: 10px;
 
    
}
.divbtn{
    display: flex;
    justify-content: center;
    
}
#main>div button,#main>div span{
    margin: 0px 5px;
    padding: 5px 10px;
    font-weight: 500;
 border-radius: 8px;
 font-size: 14px;
 background-color: #1a17174a;
}
#main>div span{
    color: var(--color-primary);
    font-size: 19px;
    font-weight: bolder;
}
#main>div >button{
    color: #ffffff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.count{
    text-align: center;
    margin-bottom: 10px;
color: #0073ff;
}
.total{
    color: red;
}

@media only screen and (max-width: 1000px) {
    #main{
        
      width: 40%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
         gap: 20px;
    }
    #sort{
        position: fixed;
      right: 0%;
     
        margin-top: 250px;
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
     }
     
#filtered{
    position: fixed;
    display: block;
    padding: 10px;
    border-radius: 20px;
    left: 0%;
     margin-top: 250px;
}
    .menu_bar{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
    }
}

.logout1{
    display: none;
}
.logout{
    display: block;
}
.news a{
    text-decoration: none;
    color: black;
  }
  .social>span a{
    display: block;
  text-decoration: none;
  color: black;
  margin: 10px 4px;
  }
  .social{
    width: 30%;
    margin: auto;
  display: flex;
 justify-content: space-evenly;
flex-wrap: wrap;
    
  }
  #footer{

    width: 80%;
    margin: auto;
    text-align: center;
  }
  .social p{
    font-family: 'Courier New', Courier, monospace;
  }
  .name{
    margin: 80px 0px;
    font-size: 12px;
   color: rgb(26, 25, 25);
   width: 40%;
   font-family: 'Edu NSW ACT Foundation', cursive;

  }
  .links{

    background-color: rgb(213, 213, 213);
    border-radius: 20px;
  }
  #mid>img{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
